<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}Audio Records Toolkit{% endblock %}</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet" />
   <link rel="stylesheet" href="{{ url_for('static', filename='css/aud.css') }}">
</head>
<body>
  <nav>
    {% extends "base.html" %}

{% block content %}
  <div class="section-white">
    <section>
      <h1>Picture Archive</h1>
      <h4>Download, upload and listen to free audio and music about Nepal</h4>
    </section>
  </div>
  <div class="audio-tools">
    <div class="audio-tools-header">
      <p>Find Picture</p>
      <div class="search-box1">
        <i class="fas fa-search"></i>
        <input type="text" id = "searchInput" placeholder="Search..." />
      </div>
      <div class="filter-container">
        <i class="fas fa-filter"></i>
        <select id="filter" onchange="fil()">
            <option value="filter">Filter</option>
          <option value="painting">Painting</option>
          <option value="photo">Photo</option>
          <option value="document">Document</option>
        </select>
      </div>
    </div>
  </div>
  <div class="section-white1">
    <div class="sort-container">
        <i class="fa-solid fa-sort"></i>
        <select id="sort">
          <option value="">Sort</option>
          <option value="acc">Ascending</option>
          <option value="desc">Descending</option>
        </select>
        <a href="">Time Uploaded</a> <a href="">Name</a>
      </div>
    <hr>
    <div id="list" class="list-container">
      
</div>
          </div>
        <p>No audio records found.</p>
    </div>
  </div>
  {%block script%}
<script>
document.addEventListener("DOMContentLoaded", function () {
    const toolCards = document.querySelectorAll('.list');
    const searchInput = document.getElementById('searchInput');

    searchInput.addEventListener('input', function () {
        const searchTerm = this.value.toLowerCase();

        toolCards.forEach(card => {
            const title = card.querySelector('h3').textContent.toLowerCase();
            const description = card.querySelector('p').textContent.toLowerCase();

            if (title.includes(searchTerm) || description.includes(searchTerm)) {
                card.style.display = 'inline-block';  
            } else {
                card.style.display = 'none';
            }
        });
    });
});
</script>

{%endblock%}
{%endblock%}
</body>
</html>
